.pri-mens{
background-color:rgb(176, 202, 219);
}

.botoes{

  
  
 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 10px;
    
}

.imaPri{
    padding: 1%;
    max-width: 100%;
    margin-bottom: 6px;
}

.link img{
    max-width: 3%;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 8px;
    padding: 6%;
}

body{
    background-color: rgba(176, 202, 219); 
    text-align: center; 
}
