*{
    margin: 0;
    padding: 0;
}

.botao{
    display: flex;
    justify-content: space-evenly;
    
}

.botao  a:hover {
    background-color:#283048;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 10px;
    transform: .5s ease-in-out;
}

img{
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
    margin: 8px 10px 2px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

header{
    background-color: aliceblue;
    height: 38px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 20px;
}

main{
    display: flex;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
}